<footer>

    <div class="f-info border-top sticky-bottom">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Blogger</div>
        <div class="f-info-links">
            <a href="">Privecy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>