<% layout("layouts/boilerplate")%>

    <body>
<br><br>
        <div class="row">
            <div class="col-8 offset-2">

                <h1>Create New Listing</h1>

                <form action="" method="" novalidate class="needs-validation">
                    <div class="mb-3 ">
                        <label for="title" class="form-label" >Title</label>
                        <input type="text" name="listing[title]" placeholder="enter the title " class="form-control" required>
                        <div class="valid-feedback">oky good</div>
                        <div class="invalid-feedback">please enter a title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Discription</label>
                        <textarea name="listing[description]" id="" class="form-control" required></textarea>
                        <div class="invalid-feedback">please enter a Discription</div>
                    </div>


                    <div class="mb-3">
                        <label for="url" class="form-label">URL</label>
                        <input type="text" name="listing[url]" placeholder="enter the title " class="form-control" >
                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-4">

                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" placeholder="enter the price "
                                class="form-control" required>
                                <div class="invalid-feedback">please enter a Price</div>

                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" id="" placeholder="enter the country "
                                class="form-control" required>
                                <div class="invalid-feedback">please enter a Country</div>
                        </div>

                    </div>



                    <div class="mb-3 ">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="enter the location "
                            class="form-control" required>
                            <div class="invalid-feedback">please enter a Location</div>
                    </div>



                    <br><br>

                    <button class="btn btn-dark mb-3 add-btn">Add</button>
                </form>


            </div>

        </div>








    </body>